{{extend 'ojotaLayout.html'}}

{{block head}}
<link rel="stylesheet" href="{{=URL('static','css/olyMun.css')}}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{{end}}

<body>
{{block body}}
	<center>
		
	<!--=== LOGO ===-->
	<br><br>
	
	<button class="buttoncito">Evento Nuevo</button>

	<br><br>
	<div class="container white">

      			<h2>Agregar evento</h2>
				<center class="col s6">{{=form}}</center>
				<h2>Proximos eventos</h2>
				{{=BEAUTIFY(request.vars)}}
      	<!--BOTON ADD EVENTO -->
      	<br>
      	<br>
      	<br>     		

	</div>

	</center>

{{end}}
</body>