{{extend 'ojotaLayout.html'}}

{{block head}}
<link rel="stylesheet" href="{{=URL('static','css/manitoCss.css')}}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{{end}}

<body>
{{block body}}
	<center>
		
	<!--=== LOGO ===-->
	<br><br>
	<image src="../static/images/OlympKnow.png" height='180' width= '250'>
	<br>
	<div class="container">
	<br><br><br>
		<div class="row">
      		<div class="col s12">
      		<a href="{{=URL('olyMunController','olyMun')}}"><button class="buttoncito">Mundial</button></a>
      		<a href="{{=URL('olyRegController','olyReg')}}" class="col s6 offset-6"><button class="buttoncito">Regional</button></a>
      		</div>
    	</div>
      	<!--BOTON ADD EVENTO -->
      	<br>
      	<br>
      	<br>
		<a href="{{=URL('olyEventController','olyEvent')}}" class="waves-effect waves-light btn-large"><i class="material-icons left">mode_edit</i>Añadir Evento</a>
      		

	</div>

	</center>

{{end}}
</body>
